/*Navigation*/
#navbar {
    flex-direction: column;
    width: 250px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 2px;
}
/*Home section*/
#home{
    height: 370px;
    width: 200px;
    padding: 3px 28px;
}

#home::before{
    height: 470px;
    width: 290px;
}

#home p{
    font-size: 13px;
}

/*Services section*/

#services{
    
    flex-wrap: wrap;
    margin: 44px;
    
}
#services .box{
    width: 220px;
    padding: 14px;
    margin: 2px 2px 20px 20px;
     
}

#services .box img{
    height: 120px;
    margin: auto;
}

/*Clients section*/
#clients{
    flex-wrap: wrap;
    width: 300px;
}

#clients img{
    width: 44px;
    padding: 2px;
    height: auto;
}
/*Contact us section*/
#contact-box form{
    width:80%;
}
/**/

/*Utilty Classes*/
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
